.box h2 {
	 text-align: center;
	 font-family: Noto serif;
}

body {
	background-color: #c9b89d;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("3D Metallic.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3; 
	z-index: -1;
}

.box {
  	text-align: center;
	border-block: column;
	border: 1px solid #817991;
	border-radius: 8px;
	width: 320px;
	background-color: #b4a7cc;
	box-shadow: 0 4px 10px rgba(115, 109, 100, 0.9);
}

.box label {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}

#Operate_Way {
	width: 55%;
	border-radius: 8px;
	border: 0.5px solid #817991;
	padding: 5px;
	margin: 0px;
}

#Number1_Input {
	width: 85%;
	border-radius: 8px;
	border: 0.5px solid #817991;
	padding: 5px;
	margin: 2px;
}

#Number1_Input:hover {
	border: 1px solid #817991;
}

#Number2_Input {
	width: 85%;
	border-radius: 8px;
	border: 0.5px solid #817991;
	padding: 5px;
	margin: 2px;
}

#Number2_Input:hover {
	border: 1px solid #817991;
}

.button {
	width: 85%;
	border-radius: 8px;
	border: 0.5px solid #91887a;
	padding: 5px;
	background-color: #c9b89d;
	margin-top: 10px;
}

.button2 {
	margin-top: 5px;
	width: 85%;
	border-radius: 8px;
	border: 0.5px solid #91887a;
	padding: 5px;
	background-color: #8f8472;
}

.button:hover{
	box-shadow: 0 4px 10px rgba(115, 109, 100, 0.9);
}

.button2:hover{
	box-shadow: 0 4px 10px rgba(115, 109, 100, 0.9);
}

#result {
	color: black;
}

.result_aftercalculate {
	color: pink;
}